@keyframes hoverEffect {
    0% {transform: scale(1);}
    100% {transform: scale(1.25);}
}

.card-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 25vh;
    height: 45vh;
}

.card-container:hover{
    transform: scale(1.25);
    animation-name: hoverEffect;
    animation-duration: 0.5s;
}

.card__img{
    width: 25vh;
    height: 35vh;
    margin: 0;
    padding: 0;
    display: block;
}


.card-details{
    background-color: #0e4d92;
    display: none;
}

.card-details-item{
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
    margin-left: 6vh;
}
