*{
  box-sizing: border-box;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #232023;
  font-family: 'Quicksand', sans-serif;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;  
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #232023;
}

::-webkit-scrollbar-thumb {
  background-color: #0e4d92;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1a83f3;
}